Flask==0.11.1
flasgger==0.5.14
requests==2.20.0
flask-cors==3.0.6
flask_rq2==17.0
kombu==4.2.1
git+https://github.com/mcandres888/python-socketio.git@master#egg=python-socketio
zdaemon
flask_login==0.4.1
apscheduler==2.1.2
fabric
pika
redis

